<!DOCTYPE html>
<html lang="en">

  <!-- Head -->
  {% include 'first/includes/_head.html' %}

  <body>
    <!-- Navigation-->
    {% include 'reviews/includes/_navbarv1.html' %}

    <!-- Content-->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'first/includes/_footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/reviews.js"></script>

  </body>
</html>
