{% extends 'reviews/base.html' %}

{% block content %}
    <div class="container container_body">

        <div class="review_list">
            <h2 class="features_title"><a href="/blogs/drone">What to consider purchasing a drone?</a></h2>
            <p class="bd-lead-content">
            <img class="list" src="/media/DIJpro.jpg" height="100" width="200">
            Are you going to buy one for you or someone else? Last few years, drones have gained popularity
            and hold its position in the gift list for Christmas. There are so many varieties in the selection of a drone.
            Here we go through several important features of a drone to help you to decide which is right one for you.
            </p>
        </div>

{#        <div class="review_list">#}
{#            <h2 class="features_title"><a href="reviews/drone">What to consider purchasing a drone?</a></h2>#}
{#            <p class="bd-lead-content">#}
{#            <img class="list" src="/media/DIJpro.jpg" height="100" width="200">#}
{#            Are you going to buy one for you or someone else? Last few years, drones have gained popularity#}
{#            and hold its position in the gift list for Christmas. There are so many varieties in the selection of a drone.#}
{#            Here we go through several important features of a drone to help you to decide which is right one for you.#}
{#            </p>#}
{#        </div>#}


    </div>
{% endblock %}
