<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    {% include './includes/_head.html' %}

    <body>
    <!-- Navigation-->
    {% include './includes/_navbar.html' %}

    <!-- Content-->
    {% block content %}
    {% endblock %}

    <!-- Pagination -->
    {% include './includes/_pagination.html' %}

    <!-- Footer -->
    {% include './includes/_footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/first.js"></script>
    <script src="/static/js/vig.js"></script>
{#    <script src="https://www.dwin2.com/pub.548033.min.js"></script>#}

  </body>
</html>
