{% extends 'first/base.html' %}

{% block content %}

       <!-- Page Content -->
    <div class="container">

     <div class="header">
         <a href="https://redirect.viglink.com?key=177f8560221a967a6a79999db7db14bc&u=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fgoldbox&cuid=goodyjapon-20&opt=1" >
             <img class="card-img" src="./media/bg.jpg"></a>
     </div>

     <div class="middle-menu">
          <ul>
              <li>|</li>
              <li class="active">
                  <a href="#" onclick="sortingselection('new')" id="new">New</a>
              </li>
              <li>|</li>
              <li class="">
                  <a href="#" onclick="sortingselection('popular')" id="popular">Popular</a>
              </li>
              <li>|</li>
              <li class="">
                  <a href="#" onclick="sortingselection('low_price')" id="low_price">Low Price</a>
              </li>
              <li>|</li>
              <li class="">
                  <a href="#" onclick="sortingselection('high_price')" id="high_price">High Price</a>
              </li>
              <li>|</li>
          </ul>
     </div>

      <div class="middle"></div>

      <!-- Page Features -->
      <div class="row text-center replace">

          {% for item in products %}

            <div class="col-12 col-sm-6 col-lg-4">

                  <div class="card-title"><h3><a href="{{ item.link }}" onclick="dbupdate({{ item.id }})" target="_blank">{{ item.name }}</a></h3></div>

                  <div class="card-photo">
                    <a href="{{ item.link }}" onclick="dbupdate({{ item.id }})" target="_blank"><img class="card-img" src="media/{{ item.image }}"></a>
                  </div>

                  <div class="card-body">
                      <p class="card-text">
                          {{ item.description }}
                      </p>
                  </div>

                 <div class="card-extra">
                     <a href="{{ item.link }}" class="btn btn-warning btn-sm" onclick="dbupdate({{ item.id }})" target="_blank"><span class="button-font"><b>FIND IT OUT</b> </span></a>
                 </div>

                 <div class="card-price">
                     <i class="fas fa-dollar-sign"> <span class="price">{{ item.price }}</span></i>
                 </div>

                 <div class="card-click">
                     <i class="far fa-thumbs-up"> <span class="click">{{ item.clicks }} likes </span> </i>
                 </div>

                 <div class="sns">
                     <a href="https://pinterest.com/pin/create/button/?url={{ item.link }}&media={{ item.image }}&description={{ item.name }}" target="_blank" class="pinterest-bn">
                     <span class="sns-font">Pinterest</span></a>
                 </div>

                 <div class="sns">
                     <a href="https://twitter.com/intent/tweet?url=URL&text={{ item.name }}&via={{ item.link }}" target="_blank" class="tweet-bn">
                     <span class="sns-font">Tweet</span></a>
                 </div>

                 <div class="sns">
                     <a href="https://facebook.com/sharer.php?u={{ item.link }}" target="_blank" class="facebook-bn">
                     <span class="sns-font">Facebook</span></a>
                 </div>
            </div>
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
