# ignore all files in the .idea/ directory (pycharm files)
.idea/

# any migrations files
**/migrations/*
**/migrations/*/

# cached files
**/__pycache__/

# setting files
**/settings*.py

# image files
**/media/*

# js file
**/js/vig.js
**/js/third.js

# static_file
staticfiles/

# db file
**/db*

# third party files
**/includes/third*
