    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
     <div class="container">
      <a class="navbar-brand" href="/"><b>&#x1d50a;&#x1d522;&#x1d522;&#x1d528;&#x1d50a;&#x1d52c;&#x1d52c;&#x1d521;&#x1d536;</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse top-menu" id="navbarsExample03">
        <ul class="navbar-nav mr-auto menu">
          <li class="nav-item active">
            <a class="nav-link" href="/blogs"><b>Blogs</b></a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
