    <footer class="py-4 bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-md-4 footblock">
                  <h5 class="text-white text-center"><i class="fas fa-gift"> Categories </i></h5>
                  <p class="m-0 text-center"><a class="text-white" href="#" onclick="menuselection('man')">Gifts For Men</a></p>
                  <p class="m-0 text-center"><a class="text-white" href="#" onclick="menuselection('woman')">Gifts For WomMen</a></p>
                  <p class="m-0 text-center"><a class="text-white" href="#" onclick="menuselection('kids')">Gifts For Kids</a></p>
                  <p class="m-0 text-center"><a class="text-white" href="#" onclick="menuselection('geek')">Gifts For Geek</a></p>
                  <p class="m-0 text-center"><a class="text-white" href="#" onclick="menuselection('pet')">Gifts For Pets</a></p>
              </div>
              <div class="col-md-4 footblock">
                  <h5 class="text-white text-center"><i class="fas fa-lightbulb"> GeekGoody</i></h5>
                  <p class="m-0 text-white text-center">
                      Good ideas better spread before silently disappeared.
                      Good design, unique, quality, or even geeky and goody products are advertised.
                      Let us know yours to advertise to the world! </p>
                  <p class="m-0 text-white text-center"><i class="fas fa-lightbulb"></i> <i class="fas fa-lightbulb"></i> <i class="fas fa-lightbulb"></i></p>
              </div>
              <div class="col-md-4 footblock">
                  <h5 class="text-white text-center"><i class="fas fa-question"> Miscellaneous </i></h5>
                  <p class="m-0 text-white text-center">Copyright Policy </p>
                  <p class="m-0 text-white text-center">Any infringes on your copyright </p>
                  <p class="m-0 text-white text-center">report to us with further details.</p>
                  <p class="m-0 text-white text-center"> ------------------------- </p>
                  <p class="m-0 text-white text-center"><i class="fas fa-envelope"> geekgoodycom@gmail.com</i></p>
              </div>
          </div>
      </div>
      <div class="row copyright">
          <div class="col-md-12">
              <p class="m-1 text-center text-white">&copy; <b>GeekGoody</b> 2018</p>
          </div>
      </div>
    </footer>