    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
     <div class="container">
      <a class="navbar-brand" href="#" onclick="home()"><b>&#x1d50a;&#x1d522;&#x1d522;&#x1d528;&#x1d50a;&#x1d52c;&#x1d52c;&#x1d521;&#x1d536;</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse top-menu" id="navbarsExample03">
        <ul class="navbar-nav mr-auto menu">
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="menuselection('man')" id="man"><b> Men</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="menuselection('woman')" id="woman"><b>Women</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="menuselection('kids')" id="kids"><b>Kids</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="menuselection('geek')" id="geek"><b>Geek</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="menuselection('pet')" id="pet"><b>Pets</b></a>
          </li>
        </ul>
        <form action="{{ item.link }}" method="post" class="form-inline my-2 my-md-0">
            {% csrf_token %}
{#            <input class="form-control" type="search" placeholder="Search" name="q">#}
            {{ form.search}}
            </form>
      </div>
    </div>
    </nav>
