{% extends 'reviews/base.html' %}

{% block content %}
    <div class="container container_body">

    <div class="review_list">
        <h2 class="features_title"> Which features you need to consider when purchasing a drone? </h2>
        <p class="bd-lead-content">
            <i class="fas fa-battery-three-quarters"></i><strong class="feature_item"> Flying Times: </strong>
            <span>
                It is the average flying time of a drone with one single charge.
                A drone for beginners has its flying time from 5 to 10 minutes.
                Professional one often has more than 20 minutes.
                Extra battery is an option you can extend its flying time.
            </span>
        </p>
        <p class="bd-lead-content">
            <i class="fas fa-satellite-dish"></i><strong class="feature_item"> Signal Range: </strong>
            <span>
                It indicates how far a drone can fly away from your controller.
                The range of indoor mini-drones has less than 30m while the professional outdoor one has nearly 5km.
            </span>
        </p>
        <p class="bd-lead-content">
            <i class="fas fa-h-square"></i><strong class="feature_item"> Auto Home: </strong>
            <span>
                It is an option that a drone automatically lands on the location specified using GPS.
                For example, when a drone is out of the signal range, it can be set to come back to the position
                where it takes off.
            </span>
        </p>
        <p class="bd-lead-content">
            <i class="fas fa-camera-retro"></i><strong class="feature_item"> Camera: </strong>
            <span>
                Many of you began interested in drones after watching video clips recorded from drone.
                It is a great option to have. There are two types of camera options for drones:
                one is an on-board camera option, and the other is a mountable camera option
                which your own camera can be attached to the drone.
            </span>
        </p>
        <p class="bd-lead-content">
            <i class="fas fa-gamepad"></i><strong class="feature_item"> Controller: </strong>
            <span>
                Some drones come without a controller, which means you need to have your own controller.
                A smartphone is one option, of course, after installing a control app into your smartphone.
                Although the smartphone option is easy to learn and use, it has a short signal range and
                gets interfered easily due to its Wi-Fi based operation.
            </span>
        </p>

    </div>

    <div class="review_list">
        <h2 class="features_title">Best drone for Beginners and Professional</h2>
        <img src="/media/DIJpro.jpg" height="150" width="280">
        <img src="/media/DIJprofolded.jpg" height="150" width="280">
        <p class="bd-lead-content"></p>
        <p class="bd-lead-content">
            <strong class="feature_item"> DJI Mavic Pro: </strong>
        </p>
        <p class="bd-lead-content">
        One of best drone 2018, this DJI Mavic Pro series will be just right fit for beginners as well as professionals.
        This small drone comes with a 4K camera including various automation features under $1000.
        The camera and gimbal are shielded, which keeps it from damaged or scratched up.
        It is a foldable drone and so you can easily carry it in your bag wherever you travel.
        Also, that makes the battery life last around 20 to 25 minutes of flying.

        It comes with a dedicated remote controller which uses your smartphone’s display to show what the drone is seeing.
        </p>

        <p class="bd-lead-content">
            <i class="fas fa-battery-three-quarters"></i> 25 minutes
            <i class="fas fa-satellite-dish"></i> 7 kilometers
            <i class="fas fa-camera-retro"></i> 4K video at 30 frames/[s]

        </p>
    </div>

    <div class="review_list">

        <h2 class="features_title">Best drone for Kids</h2>
        <img src="/media/NanopocketMINI.jpg" height="150" width="280">
        <img src="/media/NanopocketMINIcontroller.jpg" height="150" width="280">
        <p class="bd-lead-content"></p>
        <p class="bd-lead-content">
            <strong class="feature_item"> SYMA X22W: </strong>
        </p>
        <p class="bd-lead-content">
        This tiny drone provides many functions at the price of less than $60.
        For kids, it is important that the drone is safe and has protection mechanisms against mis-operations.
        For instance, no matter what direction the drone is facing, forwarding stick is always forwarding the drone
        and vice versa. Also it will land automatically if the battery is insufficient.
        Track-controlled mode enables the drone to follow a predefined track, and auto-hovering function
        stabilizes the drone while recording live video. Thus, even kids can operate the drone without much trouble.
        </p>

        <p class="bd-lead-content">
            <i class="fas fa-battery-three-quarters"></i> 6 minutes
            <i class="fas fa-satellite-dish"></i> 30 meters
            <i class="fas fa-camera-retro"></i> 720HD
        </p>

    </div>

{#        <div class="comparison_table">#}
{#            <table align='center' class="table table-striped">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th scope="col"></th>#}
{#                    <th scope="col"><a href="https://amzn.to/2BLR2j1"><img src="/media/DIJpro.jpg" height="80" width="100"><p>DJI Mavic Pro</p></a></th>#}
{#                  <th scope="col"><img src="/media/BladeChroma.jpg" height="80" width="100"><p>Blade Chroma</p></th>#}
{#                  <th scope="col"></th>#}
{#                </tr>#}
{#              </thead>#}
{#              <tbody>#}
{#                <tr>#}
{#                  <th scope="row"><i class="fas fa-battery-three-quarters"></i></th>#}
{#                  <td>27 min.</td>#}
{#                  <td>30 min.</td>#}
{#                  <td>7 </td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <th scope="row"><i class="fas fa-satellite-dish"></i></th>#}
{#                  <td>7 kilom.</td>#}
{#                  <td>2.5 kilom.</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <th scope="row"><i class="fas fa-h-square"></i></th>#}
{#                  <td>Yes</td>#}
{#                  <td>Yes</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <th scope="row"><i class="fas fa-camera-retro"></i></th>#}
{#                  <td>On 4K</td>#}
{#                  <td>Off 4K</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <th scope="row"><i class="fas fa-gamepad"></i></th>#}
{#                  <td>Yes</td>#}
{#                  <td>Yes</td>#}
{#                  <td>@twitter</td>#}
{#                </tr>#}
{#              </tbody>#}
{#            </table>#}
{#        </div>#}

    </div>
{% endblock %}
